.container {
  display: flex;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 16px;
  background-color: #fff;

  justify-content: space-around;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  max-width: 800px;
  margin: 10px auto;
}

.section {
  text-align: center;
  display: flex;
  gap: 10px;
  font-size: var(--fs26);
}

.income {
  color: #22c55e;
  font-size: var(--fs26);
}

.expense {
  color: #ef4444;
  font-size: var(--fs26);
}

.separator {
  width: 1px;
  background-color: #e5e7eb;
  margin: 0 20px;
}
