.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.empty {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: var(--fs64);
  color: #9ca3af;
}
