/* TransactionList.module.css */
.history {
  max-height: 260px;
  overflow-y: auto;
  padding-right: 8px;
}

.title {
  font-size: 38px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--fs33);
  color: white;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 12px;
  margin-bottom: 10px;

  border-left: 4px solid gray;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.item:hover {
  background: #f1f5f98a;
}

.income {
  border-left-color: #22c55e;
}

.expense {
  border-left-color: #ef4444;
}

.deleteBtn {
  cursor: pointer;
  color: #ef4444;
  font-size: 16px;
  margin-right: 8px;
  user-select: none;
  transition: transform 0.1s ease;
}

.deleteBtn:hover {
  transform: scale(1.2);
}

.item span {
  font-size: var(--fs26);
  color: #111827;
}

.text {
  display: inline-block;
  max-width: 120px;
  height: 20px; /* ✅ 높이 고정 */
  line-height: 20px; /* ✅ 텍스트 정렬 */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: max-width 0.3s ease;
}

.expanded {
  max-width: 1000px;
  white-space: normal; /* 줄바꿈 허용 */
  overflow: hidden;
  text-overflow: ellipsis; /* 여전히 말줄임 유지 */
  height: 20px; /* ✅ 높이 유지 */
}
