/* TransactionList.module.css */
.history {
  max-height: 260px; /* 또는 100% */
  overflow-y: auto;
  padding-right: 8px;
}

.title {
  font-size: 38px;
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: var(--fs33);
  color: white;
}
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px 12px;
  margin-bottom: 10px;
  border-left: 4px solid gray;
  border-radius: 6px;
  transition: background 0.2s ease;
}

.item:hover {
  background: #f1f5f98a;
}

.income {
  border-left-color: #22c55e; /* green */
}

.expense {
  border-left-color: #ef4444; /* red */
}

.deleteBtn {
  cursor: pointer;
  color: #ef4444;
  font-size: 16px;
  margin-right: 8px;
  user-select: none;
  transition: transform 0.1s ease;
}

.deleteBtn:hover {
  transform: scale(1.2);
}

.item span {
  font-size: 15px;
  color: #111827;
}
